
@import "tailwindcss";
@import "./color.css";
@import "./fonts/vazirmatn.css";
@import "./fonts/material-symbol.css";
@import "./components/symbol.css";

@theme {
  --font-emoji: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-sans: ui-sans-serif, system-ui, sans-serif, var(--font-emoji);
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif, var(--font-emoji);
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace,
    var(--font-emoji);

  --default-font-family: var(--font-vazirmatn);
}

@utility godgiven-container {
  @apply mx-auto max-w-11/12 w-11/12;
}